<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.zhou.map.CarMapper">
    <!--定义 实体类和数据库映射字段部分-->
    <resultMap id="ResultMapCar" type="com.zhou.pojo.Car">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="itemId" column="item_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="num" column="num" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="total" column="total" jdbcType="VARCHAR"/>


    </resultMap>

    <resultMap id="ResultMapCarDto" type="com.zhou.pojo.Car">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="itemId" column="item_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="num" column="num" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="total" column="total" jdbcType="VARCHAR"/>

        <association property="item" column="item_id" select="com.zhou.map.ItemMapper.load"/>
    </resultMap>
    <!--声明数据库字段-->
    <sql id="Car_field">
        id
        ,item_id,user_id,num,price,total
    </sql>
    <!--实体类属性-->
    <sql id="Car_insert">
        #{id}
        ,
        #{itemId},
        #{userId},
        #{num},
        #{price},
        #{total}

    </sql>

    <!--更新的语句-->
    <sql id="Car_update">
        <if test="itemId != null">
            item_id=#{itemId},
        </if>
        <if test="userId != null">
            user_id=#{userId},
        </if>
        <if test="num != null">
            num=#{num},
        </if>
        <if test="price != null">
            price=#{price},
        </if>
        <if test="total != null">
            total=#{total}
        </if>
    </sql>


    <!--查询时条件-->
    <sql id="Car_where">
        <if test="id != null">
            and id=#{id}
        </if>
        <if test="itemId != null">
            and item_id=#{itemId}
        </if>
        <if test="userId != null">
            and user_id=#{userId}
        </if>
        <if test="num != null">
           and num=#{num}
        </if>
        <if test="price != null">
            and  price=#{price}
        </if>
        <if test="total != null">
            and total=#{total}
        </if>

    </sql>


    <!-- 新增 -->
    <!--  参数：实体类
          返回：主键-->
    <insert id="insert" parameterType="com.zhou.pojo.Car" useGeneratedKeys="true" keyProperty="id">
        insert into car (
        <include refid="Car_field"/>
        ) values (
        <include refid="Car_insert"/>
        )
    </insert>

    <!-- 通过实体主键进行删除-->
    <!--参数：id-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete
        from car
        where id = #{id}
    </delete>

    <!--通过实体删除-->
    <delete id="deleteByEntity" parameterType="com.zhou.pojo.Car">
        delete from car where 1=1
        <include refid="Car_where"/>
    </delete>

    <!--通过Map 删除-->
    <delete id="deleteByMap" parameterType="java.util.Map">
        delete from car where 1=1
        <include refid="Car_where"/>
    </delete>

    <!--更新一个实体-->
    <update id="update" parameterType="com.zhou.pojo.Car">
        update car
        <set>
            <include refid="Car_update"/>
        </set>
        <where>
            <include refid="Car_where"/>
        </where>
    </update>

    <!--通过 id进行修改-->
    <update id="updateById" parameterType="com.zhou.pojo.Car">
        update car
        <set>
            <include refid="Car_update"/>
        </set>
        where id=#{id}
    </update>

    <!--根据 参数 查询-->
    <select id="listByMap" resultMap="ResultMapCar" parameterType="map">
        select
        <include refid="Car_field"/>
        from car where 1=1
        <include refid="Car_where"/>
    </select>

    <!--查询所有实体-->
    <select id="listAll" resultMap="ResultMapCar">
        select
        <include refid="Car_field"/>
        from car
    </select>

    <!--查询所有实体,根据实体属性值为判断条件查询所有实体-->
    <select id="listAllByEntity" resultMap="ResultMapCar">
        select
        <include refid="Car_field"/>
        from car
        where 1=1
        <include refid="Car_where"/>
    </select>

    <!--根据主键 获取一个实体-->
    <select id="getById" resultMap="ResultMapCar" parameterType="java.lang.Integer">
        select
        <include refid="Car_field"/>
        from car
        where id = #{id}
    </select>

    <!--通过map查询-->
    <select id="getByMap" resultMap="ResultMapCar" parameterType="java.util.Map">
        select
        <include refid="Car_field"/>
        from car
        where 1=1
        <include refid="Car_where"/>
    </select>
    <!--根据主键获取一个实体-->
    <select id="load" resultMap="ResultMapCar" parameterType="java.lang.Integer">
        select
        <include refid="Car_field"></include>
        from car where 1=1
        <include refid="Car_where"></include>
    </select>
    <!--通过实体查询-->
    <select id="getByEntity" resultMap="ResultMapCar" parameterType="com.zhou.pojo.Car">
        select
        <include refid="Car_field"/>
        from car
        where 1=1
        <include refid="Car_where"/>
    </select>
    <!--批量新增-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into car(
        <include refid="Car_field"/>
        )values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.item_id},
            #{item.user_id},
             #{item.num},
             #{item.price},
             #{item.total}

            )
        </foreach>
    </insert>

    <!--批量修改-->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update car
            <set>

                <if test="item.itemId != null">
                    item_id=#{item.itemId},
                </if>
                <if test="item.userId != null">
                    user_id=#{item.userId},
                </if>
                <if test="item.num != null">
                    num=#{item.num},
                </if>
                <if test="item.price != null">
                    price=#{item.price},
                </if>
                <if test="item.total != null">
                    total=#{item.total},
                </if>
            </set>
            were 1=1
            <if test="item.id !=null">
                and id= #{item.id}
            </if>
        </foreach>
    </update>

    <!--封装存sql语句-->
    <!--查询一个对象返回实体类-->
    <!--    <select id="getBySqlReturnMap" resultMap="map">-->
    <!--        ${sql}-->
    <!--    </select>-->

    <!--    &lt;!&ndash;查询一个对象返回map&ndash;&gt;-->
    <!--&lt;!&ndash;    <select id="getBySqlReturnEntity" resultMap="java.util.Map">&ndash;&gt;-->
    <!--&lt;!&ndash;        ${sql}&ndash;&gt;-->
    <!--&lt;!&ndash;    </select>&ndash;&gt;-->

    <!--    &lt;!&ndash;查询列表返回一个实体&ndash;&gt;-->
    <select id="listBySqlReturnEntity" resultMap="ResultMapCarDto">
        ${sql}
    </select>

    <!--    &lt;!&ndash;查询列表返回map&ndash;&gt;-->
    <!--    <select id="listBySqlReturnMap" resultMap="java.util.Map">-->
    <!--        ${sql}-->
    <!--    </select>-->

    <!--    &lt;!&ndash;查询分页&ndash;&gt;-->
    <select id="findBySqlRerturnEntity" resultMap="ResultMapCarDto">
        ${sql}
    </select>

    <!--    &lt;!&ndash;通过sql修改&ndash;&gt;-->
    <select id="updateBysql">
        ${sql}
    </select>

    <!--    &lt;!&ndash;通过sql删除&ndash;&gt;-->
    <!--    <select id="deleteBySql" resultMap="java.util.Map">-->
    <!--        ${sql}-->
    <!--    </select>-->
    <!--    <select id="findBySqlRerturnEntity"  >-->
    <!--        ${sql}-->
    <!--    </select>-->
</mapper>